---
import BlogArticleLayout from '../../layouts/BlogArticleLayout.astro';
---
<BlogArticleLayout
  title="Inauguration Mazères - Blog A2CI Prévention"
  category="Vie de l'agence"
  date="06 Septembre 2013"
  heroImage="/images/A2CCI.jpg"
  heroImageAlt="Bureaux A2CI Mazères"
  headline="Inauguration du nouveau bâtiment"
  headlineAccent="A2CI et conférence."
  quote="8h00 à 19h00 - Présentation, sensibilisation et échanges sur la sécurité incendie des ERP et ERT, ainsi que sur la formation."
>
  <p>
    C'est avec une grande fierté que nous avons accueilli nos partenaires et clients lors de l'inauguration de nos nouveaux locaux sur la zone de Mazères. Cette journée a été marquée par des échanges riches autour des problématiques de sécurité incendie en milieu professionnel.
  </p>
  <p>
    19h30 - L'inauguration officielle s'est déroulée en présence des autorités locales, marquant une nouvelle étape dans le développement d'A2Ci Prévention Incendie. Ces nouveaux espaces plus modernes et fonctionnels nous permettent de mieux vous accueillir pour nos sessions de formation et d'optimiser nos missions d'études et de conseils.
  </p>
</BlogArticleLayout>
