---
import BlogArticleLayout from '../../layouts/BlogArticleLayout.astro';
---
<BlogArticleLayout
  title="Référencement Formation 2017 - Blog A2CI Prévention"
  category="Formation"
  date="27 Décembre 2016"
  heroImage="/images/referencement_blog.png"
  heroImageAlt="Formation Qualité"
  headline="Référencement des organismes de"
  headlineAccent="formation au 1er Janvier 2017."
  quote="A compter du 1er Janvier, les financeurs de la formation professionnelle seront chargés de s'assurer de la capacité du prestataire de formation à dispenser une formation de qualité."
>
  <p>
    L'objectif de cette démarche, impulsée par la loi du 5 mars 2014, est de permettre aux entreprises de disposer de repères qualitatifs afin d'apprécier l'expertise des dispensateurs de formation et de faciliter, ainsi, la recherche de prestataires répondant à leurs besoins.
  </p>
  <p>
    Depuis le 24 Mars 2016, A2Ci Prévention incendie a obtenu la certification de services QUALICERT dans les domaines de la formation professionnelle et ainsi répond à l'exigence de la loi.
  </p>
  <p>
    Dans le cadre de l'accompagnement de ses clients, A2Ci Prévention incendie a choisi d'étendre son système qualité à l'ensemble de ses prestations hors financeurs (OPCA). Notre service qualité se tient à votre disposition pour toute information complémentaire.
  </p>
</BlogArticleLayout>
